@layout('layouts.app')

@section('meta')

@endsection


@section('js')

@endsection


@section('css')
@endsection

@section('helpers')
{{ title('Beranda') }}
@endsection


@section('content')
	<div class="container py-5 my-5">
		<h1 class="text-center">HELLO</h1>
		<p class="text-center my-3">Hello i am templater<br> can i help you to build your web efficiently ?</p>
	</div>
@endsection