@layout('layouts.app')

@section('meta')

@endsection

@section('js')

@endsection

@section('css')
@endsection

@section('helpers')
{{title('Beranda')}}
@endsection


@section('content')
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam nobis, numquam ab recusandae ipsam. Impedit quos quod id quia, qui, rem, eaque nulla dicta dolores, perspiciatis quibusdam inventore. Veritatis, magni.
	</p>
@endsection