$body-bg: #f9f9f9;

// Typography
$font-family-sans-serif: AzoSans, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.7;

$theme-colors: (
  'primary': #57a9dd,
  'light': #f8f8f9,
  'dark': #393939,
  'soft-dark': #292929,
  'grey-25': #c3c3c3,
  'soft-grey': #edf2f8,
  'light-grey': #e6e6e6,
  'semi-grey': #d3d5d9,
  'grey': #626262,
  'dark-grey': #c6cacd,
  'secondary': #c8c8c8,
  'dark-blue': #40488f,
  'light-blue': #57a9dd,
  'warning': #ff6c02,
  'yellow': #fdd22e,
  'cyan': #03dac4,
  'semi-blue': #6681a5,
  'danger': #ff2b2b,
  'dark-violet': #3e468e,
  'placeholder': #989e9d,
  'grey-base': $body-bg
);
