<!DOCTYPE html>
<html lang="en">
	<head>
		@include('layouts.head')
		@!section('meta')
		@!section('css')
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	</head>
	<body>
		@!section('content')
	</body>
	@!section('component')
<script src="assets/js/jquery.js" type="text/javascript" ></script>
@!section('js')
<script src="assets/js/app.js" type="text/javascript" ></script>
</html>